@import './config.scss';
.PageLoading {
  h1 {
    font-size: 3vh;
    margin: initial 15px;
  }
  h3 {
    font-size: 2vh;
    margin: initial 15px;
  }
}

body {
  height: 100%;
}

.PageLoading {
  background: #fff;
  height: 100%;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: x-large;
  color: $primaryColor;
  padding-top: 10%;
  h1,
  .dots {
    display: flex;
    justify-content: center;
    >* {
      // repair sticking elements of headers together
      &::after,
      &::before {
        content: ""
      }
    }
  }
}

.PageLoading h1 {
  margin-top: 0 !important;
}

@keyframes bounceLetters {
  0% {
    // font-size:1em;
    bottom: 0px;
  }
  100% {
    // font-size:1.1em;
    bottom: 15px;
  }
}

@keyframes jumpDots {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 10px;
  }
}

.warnColorText {
  color: $warnColor;
}

.dots span,
.three {
  bottom: 0;
  position: relative;
}

.three {
  $animationTime: 500ms;
  animation: bounceLetters $animationTime cubic-bezier(.63, .09, .75, .46) infinite alternate;
}

.dots span {
  $animationTime: 500ms;
  animation: jumpDots $animationTime cubic-bezier(.63, .09, .75, .46) infinite alternate;
  &:first-child {
    animation-delay: $animationTime/3;
  }
  &:nth-child(2n) {
    //second child
    animation-delay: $animationTime/2;
  }
  &:last-child {
    animation-delay: $animationTime/1;
  }
}
