// @import "~@angular/material/theming";
@import "../../node_modules/@angular/material/_theming.scss";
@include mat-core();
$accent: mat-palette($mat-green, 800);
$warn: mat-palette($mat-grey, 900);
$primary: mat-palette($mat-green, 500, A200, A700);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);
