<h2> Aplikacja do predykcji prędkości </h2>

<mat-card>

  <button [disabled]="trainingInProgress || predictionInProgress" class="white-text" mat-raised-button color="primary" (click)="TrainAndPredict()">
    Trenuj sieć, po czym wykonaj przewidywania
  </button>

  <h3 [hidden]=" !prediction ">Wyniki przewidywań {{ prediction }}</h3>

  <h4 [hidden]=" !trainingInProgress ">trening w toku...</h4>

  <h4 [hidden]=" !predictionInProgress ">przewidywanie w toku...</h4>

  <h4 [hidden]=" predictionTime == 0 ">Czas ostatniego przewidywania : {{calculationTime}} ms</h4>

  <h4 [hidden]=" trainingTime == 0 ">Czas ostatniego treningu sieci : {{calculationTime}} ms</h4>

</mat-card>

<mat-card [class.hidden]="!chart" class="chart-container">

  <canvas id="dataPredictionChart"></canvas>

</mat-card>
