:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  h2 {
    display: flex;
  }
  mat-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 50%; // mat-form-field {
    //   width: 100%;
    // }
    .white-text {
      color: #fff;
    }
  }
  .chart-container {
    margin-top: 50px;
    &.hidden {
      display: none;
    }
    canvas {
      top: 25%;
    }
  }
}
